@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800;900&display=swap');

@font-face {
    font-family: 'HWT Roman Extended';
    src: url("fonts/HWT Roman Extended Lightface.woff2") format("woff2"); 
    font-weight: normal; 
}
@font-face {
    font-family: 'HWT Roman Extended';
    src: url("fonts/HWT Roman Extended.woff2") format("woff2");
    font-weight: bold; 
}


/* 
>> TABLE OF CONTENTS << 

1 / Variables
2 / Basic selectors
3 / Header
4 / Main content
5 / Cards
6 / Footer
7 / Media Queries
8 / Animation keyframes

*/


/* ----------------------------------- */
/* -- 1 / Variables */

:root {
    /* colors */
    --main-color: #962814;
    --main-clr-transp: rgba(150, 40, 20, .4);
    --secondary-color: #DB2E0A;
    --tertiary-color: #D5A9A1;
    --quartiary-color: #ec8e7f;
    --quartiary-clr-transp: rgba(236, 142, 127, .4);
    --grey-color: #CCC;
    --light-grey-color: #DFDFDF;
    --black-color: #000;
    --white-color: #FFF;
    /* fonts and sizes */
    --primary-font: 'Roboto Slab', 'Arial', sans-serif;
    --secondary-font: 'HWT Roman Extended', serif;
}


/* ----------------------------------- */
/* -- 2 / Basic selectors */

* {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .01rem;
    background: #fff9f7;
    overflow: hidden;
}

body {
    width: calc(98vw - 1.4rem);
    height: calc(99vh - .7rem);
    margin: clamp(.3rem, 2vw, .75rem) auto auto auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: var(--secondary-font);
    font-size: clamp(16px, 4vw, 38px);
    font-weight: normal;
    letter-spacing: 0.15rem;
    line-height: 1.1em;
}

h2 {}
h3 {
    letter-spacing: .07em;
    font-weight: 800;
    font-size: 1rem;
}

p {}

button, .faith-state {
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 800;
    letter-spacing: .05rem;
    min-height: 2.3rem;
    min-width: 8.5rem;
    border: none;
    border-radius: .7rem;
    margin: .5rem auto;
    outline-offset: -1px;
    transition:
        filter .15s ease-in;
}

button:hover {
    filter: contrast(150%);
}



/* ----------------------------------- */
/* >>> -- 3 / Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: clamp(50px, 10vw, 100px);
    margin: 0 auto clamp(1.2rem, 2vw, 2.4rem) auto;
}

header div {
    display: flex;
    align-items: center;
}

header .header--left-side {}

header h1 {
    margin: 0 0 0 clamp(.6rem, 2vw, 1.4rem);
    width: calc(50% + 1rem);
}

header .logo {
    width: clamp(45px, 9vw, 85px);
    height: auto;
}

header .menu--icon {
    width: clamp(28px, 7.5vw, 36px);
    margin: auto clamp(.4rem, 2vw, 1rem);
}


/* ----------------------------------- */
/* >>> -- 4 / Main content */

main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content min-content auto min-content;
    gap: .5rem 1.3rem;
}

.btn-primary {
    background: var(--main-color);
    box-shadow: 0 .3rem .5rem 0 var(--main-clr-transp);
}

.btn-secondary {
    background: var(--quartiary-color);
    box-shadow: 0 .3rem .5rem 0 var(--quartiary-clr-transp);
}

/* collected cards */
.collected-cards {
    grid-area: 1/1 / 2/3;
    font-size: 11px; 
}

.show-cards-btn {
    width: clamp(2rem, 100%, 16rem);
}

/* your faith */
.your-faith {
    grid-area: 1/3 / 2/5;
}

.your-faith > p {
    font-size: 11px;
    margin: auto
}

.faith-state {
    background: transparent;
    color: var(--grey-color);
    outline: 2px solid var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.faith-state p {
    font-family: var(--secondary-font);
    transform: scaleX(0.9);
}


/* draw a card button */
.draw-a-card {
    grid-area: 2/3 / 3/5;
}

.draw-a-card-btn {
    width: 100%;
    margin: auto auto .5rem auto;
}


/* card summary */
.summary {
    grid-area: 4/1 / 5/5;
    text-align: center;
    width: calc(.6rem + 85%);
    min-width: 290px;
    margin: 0 auto .5rem auto;
    align-self: end;
}

.description {
    text-transform: none;
}

.accept-btn {
    margin-top: 1rem;
    min-width: 9rem;
    min-height: 2.1rem;
}


/* ----------------------------------- */
/* -- 5 / Cards */

.card {
    aspect-ratio: 9 / 14;
    border-radius: .8rem;
}

.card-back {
    background: url(img/card-back.svg) no-repeat center;
}


/* stacekd cards */
.stacked-cards {
    grid-area: 2/1 / 3/3;
    --card-shift-amount: .4rem;
}

.card-stacked {
    position: absolute;
    width: clamp(3rem, 35vw, 15rem);  
    box-shadow: 0 .3rem .5rem 0 var(--grey-color);
}

.card-back2 {   transform: translate(var(--card-shift-amount), var(--card-shift-amount))  }
.card-back3 {   transform: translate(calc(var(--card-shift-amount) * 2), calc(var(--card-shift-amount) * 2))  }
.card-back4 {   transform: translate(calc(var(--card-shift-amount) * 3), calc(var(--card-shift-amount) * 3))  }


/* chosen card */
.chosen-card {
    margin-top: clamp(.1rem, .5vh, 3rem);
    grid-area: 3/2 / 4/5;
    width: clamp(14rem, 57vw, 20rem);
    height: max-content;
    aspect-ratio: 9 / 14;
    transform-style: preserve-3d;
    transform: 
        perspective(12cm);
    animation: ;
}

.chosen-card--front, .chosen-card--back {
    position: absolute;
    width: 100%;
    transform: translate3d(0px, 0px, 0px);
}

.chosen-card--back {
      transform: translateZ(-1px)
}

.chosen-card--front {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    opacity: 1;
    box-shadow: 0 .4rem .6rem 0 var(--grey-color);
}

.card-graphic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: .15rem solid black;
    border-radius: .4rem;
    width: calc(97% - 2rem);
    height: calc(99% - 2rem);
}

.card-graphic--img {
    flex: 1;
    background: url("img/cards/the-vokurka.jpg") center no-repeat;   
    background-size: cover;
}

.card-title-container {
    align-self: baseline;
    width: 100%;
}

.card-graphic .card-title {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: clamp(.8rem, 3vw, 1.2rem);
    padding: .3rem;
}


/* -- 6 / Footer */
footer {
    display: flex;
    justify-content: space-between;
}

footer p {
    color: var(--grey-color);
    font-size: 10px;
    text-transform: none;
}

/* -- 7 / Media queries */

@media screen and (min-width: 800px) {
    html {
        font-size: 17px;
    }

    header h1 {
        width: auto;
    }
}


/* -- 8 / Modifying classes */
.btn-active--primary {
    background: var(--main-color);
}

.btn-unactive {
    background: transparent;
    outline: 2px solid var(--grey-color);
    color: var(--grey-color);
    box-shadow: 0 .2rem .4rem 0 var(--light-grey-color);
}



/* -- 9 / Animation keyframes */
@keyframes rotate-spinY {
    0% {transform: rotateY()}
    50% {transform: rotateY(3.14rad)}
    100% {
       
        transform: rotateY(-3.14rad);
    }
}